<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="bg-info text-center p-2 border mw-100">
  <h1 class="text-danger">
    Final Exam
  </h1>

  <h3 class="text-light">
    Find all even numbers between two numbers
  </h3>

 </div>

 <div class="text-success p-2 mw-100">
   <p class="col-1">Number 1 </p>
   <input class = "form-control col-1" [(ngModel)]="firstInput"/>
   <p class="col-3">Number 2</p>
   <input class= "form-control col-3"[(ngModel)]="secondInput"/>
  
 </div>
 <button class="btn-primary-warning" >
   Submit
 </button>

 <div class="mw-100">
   <h2 class="text-success">Calculation Result: </h2>
 </div>

 <div class="mw-100 text-danger" *ngIf="checkInputs()==true">
   <div>
    <p>{{checkInputs()}}</p>
   </div>
 </div>

 <div class="mw-100 text-info" *ngIf="checkInputs()==false">
  <div *ngFor="let number of gettingEven()">
    <p>There are {{gettingEven().length}} even numbers</p>
   <p>{{number}},</p>
  </div>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


